<template>
  <q-layout>
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title style="margin: 0px 20px;">
          Учебный проект: Создание таблицы
        </q-toolbar-title>

        <q-icon
          name="style"
          style="font-size: 3rem;"
        />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  components: {
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
