<template>
  <q-page class="row">
    <q-card class="col-xs-9">
      <q-input
        v-model="filter"
        class="q-ml-md q-mt-md"
        placeholder="Поиск"
        rounded
        outlined
      >
        <template #append>
          <q-icon
            clickable
            style="margin: 0px 10px;"
            name="mdi-magnify"
          />
        </template>
      </q-input>
      <div class="q-pa-md">
        <q-table
          v-model:selected="selected"
          flat
          bordered
          virtual-scroll
          selection="multiple"
          title="Список учащихся"
          :rows="initialRows"
          :columns="columns"
          row-key="name"
          :separator="separator"
          :filter="filter"
          binary-state-sort
        />
      </div>
    </q-card>
    <div class="col-xs-3">
      <q-btn
        fab
        icon="mdi-plus"
        class="q-ml-lg q-mt-md bg-secondary"
        @click="prompt = true"
      >
        Добавить строку
      </q-btn>
      <q-dialog
        v-model="prompt"
        persistent
      >
        <q-card style="min-width: 350px">
          <q-toolbar
            class="bg-secondary"
          >
            <template
              #top-right
              icon="mdi-close"
              flat
              round
            />
          </q-toolbar>
          <q-card-section>
            <div class="text-h6">
              Введите данные строки
            </div>
          </q-card-section>

          <q-card-section>
            <q-input
              v-model="inputAuthor"
              filled
              style="margin: 10px 0px;"
              label="Автор"
              dense
              autofocus
              @keyup.enter="prompt = false"
            />
            <q-space />
            <q-input
              v-model="inputTaskType"
              filled
              style="margin: 10px 0px;"
              label="Тип задания"
              dense
              autofocus
              @keyup.enter="prompt = false"
            />
            <q-space />
            <q-input
              v-model="inputTask"
              filled
              style="margin: 10px 0px;"
              label="Задание"
              dense
              autofocus
              @keyup.enter="prompt = false"
            />
          </q-card-section>

          <q-card-actions
            align="right"
            class="text-primary"
          >
            <q-btn
              v-close-popup
              flat
              label="Отмена"
            />
            <q-btn
              v-close-popup
              flat
              label="Добавить"
              @click="addRow"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <q-btn
        fab
        icon="mdi-minus"
        class="q-ml-lg q-mt-md bg-secondary"
        @click="removeRow"
      >
        Удалить строку
      </q-btn>
    </div>
  </q-page>
</template>

<script>
import { ref, defineComponent } from 'vue'

export default defineComponent({
  setup () {
    return {
      separator: ref('vertical'),
      prompt: ref(false),
      address: ref('')
    }
  },
  data () {
    return {
      Search: '',
      filter: '',
      selected: [],
      inputAuthor: '',
      inputTaskType: '',
      inputTask: '',
      columns: [
        {
          name: 'name',
          required: true,
          style: 'width: 50px',
          label: 'Дата и время создания',
          align: 'center',
          field: row => row.name,
          format: val => `${val}`
        },
        { name: 'author', label: 'Автор', field: 'author' },
        { name: 'type_of_task', label: 'Тип задания', field: 'type_of_task' },
        { name: 'task', label: 'Задание', field: 'task' }
      ],
      initialRows: [
        {
          name: '03.09.2021 19:47',
          author: 'Иванов Иван Иванович',
          type_of_task: 'Работа с железом',
          task: 'Сделать корпус для чего-то там'
        },
        {
          name: '09.03.2020 7:06',
          author: 'Петров Петр Петрович',
          type_of_task: 'Изучение html',
          task: 'Пройти курсы и выучить базовые теги'
        },
        {
          name: '29.08.2021 12:35',
          author: 'Пупкин Василий Васильевич',
          type_of_task: 'Документация',
          task: 'Написать "Руководство пользователя'
        },
        {
          name: '01.01.2021 22:45',
          author: 'Шацкий Евгений Петрович',
          type_of_task: 'Написание бота',
          task: 'Написать бота в Телеграмме для рассылки рекламы'
        },
        {
          name: '14.10.2020 17:31',
          author: 'Мелехов Григорий Пантелеевич',
          type_of_task: 'Бекенд',
          task: 'Создание функционала для страниц сайта'
        }
      ]
    }
  },
  methods: {
    addRow () {
      const time = new Date()
      const row = {}
      let nowDate = String(time.getDate())
      if (String(nowDate).length !== 2) {
        nowDate = '0' + nowDate
      }

      let nowMonth = String(time.getMonth() + 1)
      if (String(nowMonth).length !== 2) {
        nowMonth = '0' + nowMonth
      }

      let nowMinute = String(time.getMinutes())
      if (String(nowMinute).length !== 2) {
        nowMinute = '0' + nowMinute
      }

      row.name = nowDate + '.' + nowMonth + '.' + String(time.getFullYear()) + '   ' + String(time.getHours()) + ':' + nowMinute
      row.author = this.inputAuthor
      row.type_of_task = this.inputTaskType
      row.task = this.inputTask
      this.inputAuthor = ''
      this.inputTaskType = ''
      this.inputTask = ''
      this.initialRows.push(row)
    },
    removeRow () {
      for (let row = 0; row < this.initialRows.length; row++) {
        for (let sel = 0; sel < this.selected.length; sel++) {
          if (this.initialRows[row] === this.selected[sel]) {
            this.initialRows.splice(row, 1)
          }
        }
      }
    }
  }

})
</script>
